<header>
    <div class="header-area">
    <div class="main-header header-sticky">
    <div class="container-fluid">
    <div class="row align-items-center">
    
    <div class="col-xl-2 col-lg-2">
    <div class="logo">
    <!--<a href="index-2.html"><img src="assets/img/logo/logo.png" alt></a>-->
    <h2 style="color: #ffc800;">Travel Guide</h2>
    </div>
    </div>
    <div class="col-xl-10 col-lg-10">
    <div class="menu-wrapper d-flex align-items-center justify-content-end">
    
    <div class="main-menu d-none d-lg-block">
    <nav>
    <ul id="navigation">
    <li><a href="/" style="text-decoration: none;">Home</a></li>
    <!-- <li><a href="event.html">Events</a></li>
    <li><a href="about.html">About</a></li>
    <li><a href="#">Blog</a>
    <ul class="submenu">
    <li><a href="blog.html">Blog</a></li>
    <li><a href="events_details.html">Events Details</a></li>
    <li><a href="blog_details.html">Blog Details</a></li>
    <li><a href="elements.html">Element</a></li>
    </ul>
    </li>
    <li><a href="contact.html">Contact</a></li> -->
    
    <li class="button-header">
    <a href="/login" class="header-btn" style="text-decoration: none;">Admin Panel</a>
    </li>
    
    <li *ngIf="currentUser" class="button-header">
        <a href="/log_out" class="header-btn" style="text-decoration: none;">Logout</a>
        </li>
    <li *ngIf="!currentUser" class="button-header">
        <a href="/user_login" class="header-btn" style="text-decoration: none;">User Login</a>
        </li>
    </ul>
    </nav>
    </div>
    </div>
    </div>
    
    <div class="col-12">
    <div class="mobile_menu d-block d-lg-none"></div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </header>